<!DOCTYPE HTML>
<html>
	<head>
		<title>Yama's Blog</title>
		<link href="css/style.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div id="sidebar">
			<ul id="sidebar-menu">
				<li><a href="/">Home</a></li>
				<li><a href="/photos">Photos</a></li>
				<li><a href="/resume">Resume</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</div>
		<div id="header">
			<h1>Yama's Blog</h1>
		</div>
		<div id="content">
			<p>welcome to the yama farani experience</p>
		</div>
	</body>
</html>