<!DOCTYPE HTML>
<html>
	<head>
		<title>Yama's Blog</title>
		<link href="css/style.css" rel="stylesheet" type="text/css"/>
		<link href="css/hover-min.css" rel="stylesheet" type="text/css"/>
		<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet" />
	</head>
	<body>
		<div id="sidebar">
			<ul id="sidebar-menu">
				<li><a class="hvr-forward" href="/">Home</a></li>
				<li><a class="hvr-forward" href="/photos">Photos</a></li>
				<li><a class="hvr-forward" href="/resume">Resume</a></li>
				<li><a class="hvr-forward" href="/about">About</a></li>
				<li><a class="hvr-forward" href="/contact">Contact</a></li>
			</ul>
		</div>
		<div id="content">
			<div id="header">
				<h1>Yama's Blog</h1>
			</div>
			<p>welcome to the yama farani experience</p>
		</div>
	</body>
</html>