body {
	font-family: 'Roboto', sans-serif;
}
a {
	color: #000000;
	text-decoration: none;
}
#sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 200px;
	z-index: 1;
}
#sidebar-menu {
	padding-left: 40%;
	padding-top: 55%;
	list-style-type: none;
	font-size: 130%;
}
#header {
	font-size: 200%;
}
#content {
    position: relative;
    width: 100%;
    text-align: center;
}